.table {
    border: 0px;
}

.img {
    height: 200px;
    width: 170px;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: center;
}

.tr_text {
    font-size: 30px;
}

.colour {
    color: lime;
}

#btn {
    background-color: lime;
    color: black;
    border: 0px;
    height: 30px;
    width: 150px;
}

.border {
    border: 10px solid lime;
}
